<div class="smeta_block smeta_window">

    <h1 class="smeta_text_header">окна в квартире</h1>
    <div class="choose_type_window">
        <p>Выберите тип окна:</p>
        <div class="smeta_count_window_one"></div>
        <div class="smeta_count_window_two"></div>
        <div class="smeta_count_window_three"></div>
    </div>

    <div class="smeta_count_window_right">
        <input value="0,00"/>
        <div class="smeta_characteristics_x"></div>
        <input value="0,00">
        <p class="smeta_characteristics_width">ширина</p>
        <p class="smeta_characteristics_height">высота</p>
        <h6>Габариты в метрах</h6>
    </div>

    <div class="smeta_count_window_left">
        <div class="smeta_count_window_chosen"></div>
        <div class="button_minus"></div>
        <input class="smeta_count_input" value="0" />
        <div class="button_plus"></div>
        <h6>шт.</h6>
    </div>
    <div class="ignore ignore_window"></div>

</div>

<div id="add_window" class="add_room">Добавить окно</div>