<!doctype html>
<html>
<head>
    <style type="text/css">
        body, html {
            margin           : 0;
            padding          : 0;
            font-family      : Arial, sans-serif;
            background-color : #F3F6FF
        }

        h1 {
            color       : #416a90;
            font-size   : 150px;
            font-weight : normal
        }

        p {
            font-size : 18px;
            color     : #333
        }

        div {
            margin     : auto 10px;
            text-align : center
        }
    </style>
</head>
<body>
<div>
    <h1>500</h1>
    <div><p>Internal Server Error.</p></div>
</div>
</body>
</html>